version: "3.9"

services:
  app:
    build:
      context: .
    restart: always
    volumes:
      - static-data:/vol/web/
    environment:
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - SECRET_KEY=${SECRET_KEY}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
    depends_on:
      - db
      - redis
    container_name: app

  db:
    image: postgres:13-alpine
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    
  proxy:
    build:
      context: ./proxy
    restart: always
    depends_on:
      - app
    ports:
      - 80:8000
    volumes:
      - static-data:/vol/static
    container_name: proxy
    
  # Redis
  redis:
    image: redis:alpine
    container_name: redis
    environment:
      - SECRET_KEY=${SECRET_KEY}    

  # Celery
  celery:
    restart: always
    build:
      context: .
    command: >
      sh -c "celery -A app worker -l INFO"
    volumes:
      - static-data:/vol/web/
    container_name: celery
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DB_HOST=db
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
    depends_on:
      - db
      - redis
      - app

  celery-beat:
    build:
      context: .
    container_name: celery-beat
    restart: always
    command: celery -A app beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler --schedule=/vol/web/celerybeat-schedule
    volumes:
      - static-data:/vol/web/
    depends_on:
      - redis
      - celery
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  
volumes:
  postgres-data:
  static-data:

