{% extends "extensions/elp_base.html" %}

<!--
    Please can you use bootstrap to provide some basic styling for the form?
-->

{% block content %}
{% load crispy_forms_tags %}

    <p>Select the assignment and complete the form.</p>

    {% if error_message %}
        {{ error_message | safe }}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" />
    </form>

{% endblock content %}


