{% extends "extensions/elp_base.html" %}
{% block content %} 
<p>Application successfully submitted. A confirmation message has been sent to your <a href="https://canvas.liverpool.ac.uk/conversations#filter=type=inbox" target="_blank">Canvas inbox</a>.</p>
<p><strong>You <u>MUST</u> click the confirmation link in the message before your application is processed.</strong></p>
<p>Can't see the message? Contact <a href="mailto:SLSAssessment@liverpool.ac.uk">SLSAssessment@liverpool.ac.uk</a></p>
{% endblock content %}
