{% load static %}
<!DOCTYPE html>
<!--
    Use bootstrap to provide some basic styling.
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extension Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'extensions/css/extensions.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>
    .checkbox.requiredField {
  display: flex;
  align-items: center;
}

.checkboxinput {
  order: -1; /* Moves the checkbox to the beginning */
  margin-right: 8px; /* Adds some space between the checkbox and the text */
}

</style>


<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>    

            <div class="col-md-8">
                <div style="text-align: center">
                    <a href="/"><img src="{% static 'extensions/img/full_color_logo.png' %}" alt="Liverpool Logo" class="logo"></a>
                </div>
                <hr>
                <h1>Student Application Form</h1>
                <h2>Assignment Extension</h2>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>    

                <div class="col-md-8" style="text-align: center;">
                    <hr>
                    <p>Canvas Lens &copy; 2023</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>



