{% extends "core/base.html" %}
{% load crispy_forms_tags %} 


{% block content %}
<h1>Your New Blank Canvas!</h1>
    <p class="fs-5 col-md-8">Create an amazing, dynamic webapp here.</p>

    <div class="mb-5">
      <a href="{% url 'core:index' %}" class="btn btn-primary btn-lg px-4">Button Example</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Some more Html</h2>
        <p>Create some awesome content.</p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1"><a href="{% url 'core:index' %}">Important link</a></li>
        </ul>
      </div>
    </div>
{% endblock %} 
